@model dot_net_mid_project.BModels.EmployeeModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card" style="padding:2%">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="/Employees">Employees</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Index</li>
                </ol>
            </nav>
        </div>
    </div>
    <form class="d-block" action="/customers/search">
        <input class="form-control me-2" name="search" type="search" placeholder="Search by name " aria-label="Search"><br />
        <button class="btn btn-info btn-outline-success" type="submit">Search</button>
    </form>
    <br />

    <form class="mx-1 mx-md-4" method="post" action="/Employees/Edit">
        @Html.AntiForgeryToken()

        <div class="d-flex flex-row align-items-center mb-4">

            <div class="form-outline flex-fill mb-0">
                <input type="text" id="form3Example1c" name="id" value="@Model.id" class="form-control"  readonly/>
                <label class="form-label" for="form3Example1c">ID</label>
            </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">

            <div class="form-outline flex-fill mb-0">
                @Html.ValidationMessageFor(model => model.name)<
                <input type="text" id="form3Example1c" name="name" value="@Model.name" class="form-control" />
                <label class="form-label" for="form3Example1c">Name</label>
            </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">

            <div class="form-outline flex-fill mb-0">
                <input type="email" id="form3Example3c" name="email" value="@Model.email" class="form-control" />
                <label class="form-label" for="form3Example3c">Email</label>
            </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">

            <div class="form-outline flex-fill mb-0">
                <input type="text" id="form3Example3c" name="phone" value="@Model.phone" class="form-control" />
                <label class="form-label" for="form3Example3c">Phone</label>
            </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">

            <div class="form-outline flex-fill mb-0">
                <input type="text" id="form3Example3c" name="salary" value="@Model.salary" class="form-control" />
                <label class="form-label" for="form3Example3c">Salary</label>
            </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">

            <div class="form-outline flex-fill mb-0">
                <input type="text" id="form3Example3c" name="work_area" value="@Model.work_area" class="form-control" />
                <label class="form-label" for="form3Example3c">Work Area</label>
            </div>
        </div>

        <div class="d-flex flex-row align-items-center mb-4">

            <div class="form-outline flex-fill mb-0">
                <input type="text" id="form3Example3c" name="work_status" value="@Model.work_status" class="form-control" />
                <label class="form-label" for="form3Example3c">Work Status</label>
            </div>
        </div>



        <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
            <input type="submit" class="btn btn-primary btn-lg" value="Edit">
        </div>

    </form>
</div>
