@model List<dot_net_mid_project.BModels.CustomerModel>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card" style="padding:2%">
    <div class="row">
        <div class="col">
            <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="/dashboard">Dashboard</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Customers</li>
                </ol>
            </nav>
        </div>
    </div>
    <form class="d-block" action="/customers/search">
        <input class="form-control me-2" name="search" type="search" placeholder="Search by name " aria-label="Search"><br />
        <button class="btn btn-info btn-outline-success" type="submit">Search</button>
    </form>
    <br />
    <table class="table ">
        <tr>
            <th>
                ID
            </th>
            <th>
                Name
            </th>
            <th>
                Phone
            </th>
            <th>
                Email
            </th>
            <th>
                Address
            </th>
            <th>Action</th>
        </tr>

        @foreach (var item in Model)
        {
    <tr>
        <td>
            @item.id
        </td>
        <td>
            @item.name
        </td>
        <td>
            @item.phone
        </td>
        <td>
            @item.email
        </td>
        <td>
            @item.address
        </td>
        <td>
            <a class="btn btn-info" href="/users/details/@item.id"> Details</a>
            <a class="btn btn-primary" href="/users/edit/@item.id"> Edit</a>
            <a class="btn btn-outline-danger" href=" /users/delete/@item.id"> Delete</a>
        </td>
    </tr>
        }

    </table>
</div>
